# PostgreSQL connection string
DATABASE_URL=postgresql://user:password@localhost:5432/ecommerce_platform
# Stripe credentials
STRIPE_SECRET_KEY="sk_test_yourkey"
STRIPE_PUBLISHABLE_KEY="pk_test_yourkey"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_yourkey"
STRIPE_WEBHOOK_SECRET="whsec_..."

# Strapi configuration
STRAPI_URL=http://localhost:1337
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
STRAPI_TOKEN=

# Resend API key for email confirmations
RESEND_API_KEY=""
RESEND_FROM="orders@example.com"

# Typesense configuration
TYPESENSE_API_KEY=xyz
TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
GOOGLE_PLACES_API_KEY=

# Remote browser service API token
BROWSERLESS_API_TOKEN=

# Toggle use of dummy data for development
NEXT_PUBLIC_USE_DUMMY_DATA=true

DEFAULT_LOW_STOCK_THRESHOLD=5

# AWS S3 configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=
