# PostgreSQL connection string
DATABASE_URL=postgresql://user:password@localhost:5432/ecommerce_platform
# Stripe credentials
STRIPE_SECRET_KEY="sk_test_yourkey"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_yourkey"

# Resend API key for email confirmations
RESEND_API_KEY=""
RESEND_FROM="orders@example.com"

# Typesense configuration
TYPESENSE_API_KEY=xyz
TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
